.movieImage {
	width: 200px;
	height: auto;
	border: 3px solid rgb(73, 234, 44);
	margin-left: 10px;
	border-radius: 10px;
	/* flex에 대해서 더 찾아보기 */
	flex: 1;
}

.movieTitle {
	display: block;
	text-decoration: none;
	border: 2px solid gray;
	border-radius: 5px;
	color: gray;
	font-size: 20px;
	flex: 10;
	/* margin이 3개면 top 좌우 bottom */
	margin: 10px 0 10px;
}

.movieTitle:hover {
	color: whitesmoke;
	background-color: gray;
}

.Good {
	color: deeppink;
}

.notBad {
	color: aquamarine;
}

.Bad {
	color: darkviolet;
}

.movieContainer {
	margin-bottom: 50px;
}

.movieDetail {
	display: flex;
}

.movieDescription {
	flex: 7;
	margin-left: 10px;
}